<nav class="navbar navbar-expand-lg bg-primary" data-bs-theme="dark">
    <div class="container">
        <a class="navbar-brand" href="/">
            <i class="bi bi-heart-pulse-fill"></i> PetCare
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav ms-auto">
                {{#if tutor}}
                    <span class="nav-link">Hola, {{tutor.nombre}}!</span>
                    <a class="nav-link" href="/mascotas">Mis Mascotas</a>
                    <a class="nav-link" href="/auth/logout">Cerrar Sesión</a>
                {{else}}
                    <a class="nav-link" href="/auth/register">Registrarse</a>
                    <a class="nav-link" href="/auth/login">Iniciar Sesión</a>
                {{/if}}
            </div>
        </div>
    </div>
</nav>